<?xml version='1.0' encoding='utf-8'?>
<widget id="com.robotinacan.RobotinacanSnap" version="0.1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RobotinacanSnap</name>
    <description>
        snap application to help control and connect to your Robot.
    </description>
    <author email="dev.shadowlerone@gmail.com" href="https://robotinacan.com/">
        Robot in a Can
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/favicon-256x256.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config> -->
        <hook type="before_build" src="./utility.js"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
        <hook type="before_build" src="./utility.js"/>
    </platform>

</widget>
