#menu-bar {
	height: 5vh;
	display: flex;
}
#world-wrapper {
	max-height: 80vh;
}

#world-wrapper > #world { 
	position: static !important;
	/* height: 100% !important; */
	height: unset !important;
	width: unset !important;
}